div.modern-page-navigation {
    padding: 0.5em 0;}
div.modern-page-navigation a,
span.modern-page-current,
span.modern-page-dots
{
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 0.75em;
    padding-right: 0.5em;
    text-decoration: none;
}
div.modern-page-navigation a.modern-page-previous {
    border-right-width: 1px;
    border-right-style: solid;
    border-left: none; }
div.modern-page-navigation a.modern-page-first,
div.modern-page-navigation span.modern-page-first {
    border-left: none;
    padding-left: 0.5em; }
span.modern-page-current {
    font-weight: bold; }
div.modern-page-navigation a,
span.modern-page-current,
div.modern-page-navigation a.modern-page-previous,
span.modern-page-dots {
    border-color: #cdcdcd; }




.system-nav-orange
{
    color: #999;
    font-size:12px;
}

.system-nav-orange .nav-current-page
{
    color:white;
    background-color: rgb(255, 153, 0);
    font-weight: bold;
    padding:1px 0px;
}


.bx-pagination {
    margin: 10px 0;
}
.bx-pagination .bx-pagination-container {
    text-align: center;
    position: relative;
}
.bx-pagination .bx-pagination-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
.bx-pagination .bx-pagination-container ul li {
    display: inline-block;
    margin: 0 2px 15px 2px;
}
.bx-pagination .bx-pagination-container ul li span{
    -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    -moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    -ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    -o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    background: #eff0f1;
    padding: 0 8px;
    display: block;
    height: 32px;
    min-width: 32px;
    line-height: 32px;
    color: #444;
    font-size: 14px;
    border-radius: 16px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bx-pagination .bx-pagination-container ul li a {
    text-decoration: none;
    display: block;
    border-radius: 16px;
    height: 32px;
    min-width: 32px;
    line-height: 32px;
    color: #444;
    vertical-align: middle;
}
.bx-pagination .bx-pagination-container ul li a:hover span{
    background: #DADADA;
}
.bx-pagination .bx-pagination-container ul li.bx-active span{
    background: #0083d1;
    color: #fff;
}
.bx-pagination .bx-pagination-container ul li.bx-pag-all a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a span {
    background: #fff;
    border: 2px solid #eff0f1;
    line-height: 28px;
    padding: 0 18px;
    color: #444;
}
.bx-pagination .bx-pagination-container ul li.bx-pag-all span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next span{
    color: #aab1b4;
    background: #fff;
    border: 2px solid #eff0f1;
    line-height: 28px;
    padding: 0 18px;
}
.bx-pagination .bx-pagination-container ul li.bx-pag-all a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a:hover span {
    background: #fff;
    border-color: #DADADA;
    color: #000;
}

/*color schemes*/
.bx-pagination.bx-green  .bx-pagination-container ul li.bx-active span{
    background: #3bc915;
    color: #fff;
}
.bx-pagination.bx-yellow  .bx-pagination-container ul li.bx-active span{
    background: #F9A91D;
    color: #fff;
}
.bx-pagination.bx-red  .bx-pagination-container ul li.bx-active span{
    background: #E22B2B;
    color: #fff;
}
.bx-pagination.bx-blue .bx-pagination-container ul li.bx-active span{
    background: #0083d1;
    color: #fff;
}




.bx_pagination_bottom *{vertical-align: baseline;}
.bx_pagination_bottom{
    color: #8d8d8d;
    font-size:11px;
}

.bx_pagination_bottom .bx_pagination_section_one{ }
.bx_pagination_bottom .bx_pagination_section_two{
    float: right;
    text-align: right;
}
.bx_pagination_bottom .bx_pg_section{
    display: inline-block;
    height: 30px;
    vertical-align: top;
    line-height: 30px;
}

.bx_pagination_bottom .bx_pagination_select_container{display: inline-block;}
.bx_pagination_bottom .bx_pagination_select_container select{
    position: relative;
    margin: 2px 20px 2px 10px;
    padding: 1px 25px 3px 5px;
    height: 22px;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    background: #fff url(images/select_arrow.png) no-repeat right center;
    color: #8d8d8d;
    font-size: 11px;
    line-height: 16px;
    resize: none;
    -webkit-appearance: none;
}
@-moz-document url-prefix(){
    .bx_pagination_bottom .bx_pagination_select_container select{
        background: #fff !important;
        padding-right: 5px;
    }
}


.bx_pagination_bottom .bx_pagination_page{
    white-space: nowrap;
    font-size: 12px;
}
.bx_pagination_bottom .bx_pagination_page ul{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.bx_pagination_bottom .bx_pagination_page li{
    display: inline-block;
    min-width: 22px;
    color: #8d8d8d;
    text-align: center;
    line-height: 22px;
}
.bx_pagination_bottom .bx_pagination_page li a{
    display: block;
    min-width: 22px;
    color: #8d8d8d;
    text-align: center;
    text-decoration: none;
    line-height: 22px;
}
.bx_pagination_bottom .bx_pagination_page li a:hover{color: #555;}
.bx_pagination_bottom .bx_pagination_page li.bx_active{
    border-radius: 3px;
    background: #dbecf4;
    box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.1);
}

.bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num{display: block;}
.bx_pagination_bottom .bx_pg_section.bx_pg_show_col select{margin-right: 5px;}


.bx_pagination_bottom .bx_wsnw{white-space: nowrap;}




/*1*/
@media (min-width:981px){

}
/*2*/
@media (min-width:640px) and (max-width:980px){

}
/*3*/
@media (min-width:480px) and (max-width:639px) {
    .bx_pagination_bottom .bx_pagination_select_container select{margin-right: 10px;}
}
/*4*/
@media (max-width:479px) {
    .bx_pagination_bottom .bx_pagination_section_one{ }
    .bx_pagination_bottom .bx_pagination_section_two{
        float: none;
        text-align: left;
    }
    .bx_pagination_bottom .bx_pagination_select_container{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 47%;
    }
    .bx_pagination_bottom .bx_pagination_select_container select{
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 0 !important;
        width: 90%;
    }
    .bx_pagination_bottom .bx_pg_section{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
    }
    .bx_pagination_bottom .bx_pagination_page{white-space: normal;}
    .bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num{width: 100%;height: auto;text-align: center;}
    .bx_pagination_bottom .bx_pg_section.bx_pg_show_col{display: none;}
    .bx_pagination_bottom .bx_pg_text{
        display: inline-block;
        width: 50%;
    }
    .bx_pagination_bottom .bx_pg_section.pg_pagination_num .bx_pg_text{display: none;}
}
/*5*/
@media (max-width:320px){
}

.bx_pagination_bottom .bx_pagination_section_one,
.bx_pagination_bottom .bx_pagination_section_two,
.bx_pagination_bottom .bx_pagination_select_container,
.bx_pagination_bottom .bx_pagination_select_container select,
.bx_pagination_bottom .bx_pg_section,
.bx_pagination_bottom .bx_pagination_page,
.bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num,
.bx_pagination_bottom .bx_pg_section.bx_pg_show_col,
.bx_pagination_bottom .bx_pg_text,
.bx_pagination_bottom .bx_pg_section.pg_pagination_num .bx_pg_text{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.list-item:not(:last-child) {
    border-bottom: 1px solid #ced3d4;
}